<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Navbar Fragment</title>
</head>
<body>
<!-- Fragment de navbar -->
<nav th:fragment="navbar" class="navbar navbar-expand-lg navbar-dark bg-success">
    <div class="container">
        <a class="navbar-brand" th:href="@{/}">
            <i class="bi bi-seedling"></i> PIGAM
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/}">Accueil</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/about}">À propos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/parametres/profil}">Mon Profil</a>
                </li>
            </ul>
            <div class="navbar-nav">
                <a class="nav-link" th:href="@{/auth/logout}">
                    <i class="bi bi-box-arrow-right"></i> Déconnexion
                </a>
            </div>
        </div>
    </div>
</nav>
</body>
</html>